openai_api_key=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
polygon_api_key=pEP9v2lGpSGlWpMrWdHXqprZsV5MYYbc
alpha_vantage_api_key=HP3O1J0U3CVNFOEH